*{
   @import url('https://fonts.cdnfonts.com/css/instagram-sans-2');

font-family: 'Instagram Sans', sans-serif; 
}
.box{
    
    border-radius: 5px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 6vw;
    padding-right: 6vw;
}
.item{
    width: 80vw;
    padding: 5%;
}
.image{
    height: 40px;
    width: 40px;
    margin-right: 2vw;
}